---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardImage from '../components/Card-Image.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header></Header>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-base md:text-xl lg:text-2xl"> <strong>Services</strong></h1>
      <div class="container flex flex-col justify-center">
        <CardImage
        task="Dance"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."
        image="https://plus.unsplash.com/premium_photo-1668686288845-5e9897b27533?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
       </Card>
        <div class="mb-20">
      </div>
      </div>
  </main>

</Layout>
<Footer></Footer>
