---
const { task, description, image } = Astro.props;
import Divider from "./Divider.astro";
---

<div class="flex flex-row justify-center my-2 ">
    <div class="card z-20 w-9/10 ml-80 mt-12 bg-base-100 w-96 h-64 shadow-xl absolute basis-64 ">
        <div class="card-body">
        <h2 class="card-title">{task}!</h2>
        <Divider/>
        <p>{description}</p>
    </div>
    </div>
    <div class="card z-10 bg-base-100 w-96 shadow-xl relative mr-36">
        <div class="card-image"> 
            <figure>
                <img src={image} alt=" image"/>
            </figure>
        </div>
    </div>
</div>