<section class="hero ">
  <div class="flex flex-row justify-center h-screen w-screen">
    <div class="hero-content text w-1/2">
      <div class="max-w-lg ">
        <h1 class="mb-5 text-7xl font-bold">The Premiere Service in your area.</h1>
        <p class="mb-5 text-xl">
          Whether you’re looking to transform your yard, freshen up the exterior, or make control those pesky critters, 
          we have the expertise to deliver incredible results that last. 
          We have 30+ years of experience working with both residential and commercial clients in the area,
          and we know how to tackle any project. Give us a call for a complimentary quote on your project.
        </p>
        <div class="group"> 
          <button class="btn btn-primary mr-4 text-lg relative overflow-hidden transition-all duration-300 ease-in-out">
            <span class="absolute inset-0 bg-base-100 transform -translate-x-full transition-transform duration-300 group-hover:translate-x-0"></span>
            <span class="relative z-10 group-hover:text-base-content">Schedule a Free consultation</span>
          </button>
          
          <button class="btn btn-ghost text-lg relative overflow-hidden transition-all duration-300 ease-in-out">
            <span class="absolute inset-0 bg-primary transform -translate-x-full transition-transform duration-300 group-hover:translate-x-0"></span>
            <span class="relative z-10 group-hover:text-primary-content">About us</span>
          </button>
        </div>
        
      </div>
    </div>
  <div class="flex justify-center align-center w-1/2 ">
    <img class="object-contain" src="https://images.unsplash.com/photo-1599365726864-ac222011504a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxhbmRzY2FwaW5nfGVufDB8fDB8fHww" alt="hero image"  />
  </div>
</section>