<div
   class="hero min-h-[calc(100vh-8rem)] bg-base-200"
  style="background-image: url(https://images.unsplash.com/photo-1599365726864-ac222011504a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxhbmRzY2FwaW5nfGVufDB8fDB8fHww);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Landscaping Co</h1>
      <!-- <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p> -->
      <button class="btn btn-primary">Schedule a Free consultation </button>
    </div>
  </div>
</div>